.larger-font {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .nav-tabs.nav-justified > li {
        width: 33%;
        float: left;
        overflow: hidden;
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
        border-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 1px solid #ddd;
    }

    .navbar-header {
        margin-bottom: 10px;
    }
}

.nav-tabs {
    font-weight: bold;
}

@media (min-width: 768px) {
    .tab-content {
        margin: 1em;
    }
}

.overflow-auto {
    overflow: auto;
}

.page-header {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}

.translationToggle {
    opacity: 0.8;
}

#about {
    margin-bottom: 2em;
}

#content {
    min-height: calc(100vh - 2em);
}

#footer {
    height: 2em;
}

.logContentEntry {
    height: 20em;
}

.logContentEntry {
    overflow: hidden;
}

.logContentExpand {
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.logContentFadeOut {
    height: 30px;
    position: absolute;
    margin-top: -25px;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, white);
}

.logContentEntry a {
    color: #337ab7 !important;
}

.links {
    opacity: 0.5;
    vertical-align: -0.15em;
    font-size: 1.2em;
}

.expandArrow {
    display: inherit;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.flip {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.toast {
    text-align: center;
    position: fixed;
    background-color: green;
    filter: Alpha(opacity=50);
    opacity: 0.0;
    width: 100%;
    top: 0;
    right: 0;
    -webkit-transition: opacity 2s linear; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s linear;
}

.toast span {
    color: white;
}

.resume-link {
    text-decoration: none !important;
}

.resume-link > div {
    border: 1px solid transparent;
    transition: border 0.5s;
    text-decoration: none;
}

.resume-link > div:hover {
    border: 1px solid #ddd;
}

.email {
    color: #337ab7;
}

.peach {
    vertical-align: sub;
    max-width: 30px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

h3 {
    color: #000 !important;
}

html * {
    color: #000;
    font-family: Montserrat, sans-serif !important;
}

code {
    white-space: pre !important;
    font-family: Hack, monospace !important;
}